services:
  mysql:
    image: mysql:latest
    container_name: mysql-latest
    restart: always # always restart
    environment:
      MYSQL_DATABASE: "test_database" # name of database
      MYSQL_USER: "junnot" # sample is the name of user
      MYSQL_PASSWORD: "password" # password for sample user
      MYSQL_ROOT_PASSWORD: "password" # password for root user
    ports:
      - "3306:3306" # host port 3306 is mapper to docker port 3306
    expose:
      - "3306"
    volumes:
      - mysql-db:/var/lib/mysql
    networks:
      - shared_network

  # phpmyadmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    depends_on:
      - mysql
    restart: always
    ports:
      - "8033:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: password

  # postgres
  postgres:
    image: postgres:latest
    container_name: postgres-latest
    environment:
      POSTGRES_DB: test_database
      POSTGRES_USER: junnot
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - shared_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  mysql-db:
  pgdata:
  pgadmin-data:

networks:
  shared_network:
    external: true
